/* '*'는 모든 태그를 의미한다. */
* {
    box-sizing: border-box;
}

/* 선택자 (Selector) */

/* div는 많이 쓰이기 때문에 생략할 수도 있다. */
div#header-center {
    margin: 0 auto;
    width: 1080px;
}

div#header-search a {
    text-decoration: none;
}

/* > 을 사용하면 바로 밑에 있는 자식 태그 */
div#header-search h1 {
    width: 198px;
    height: 48px;

    /* 이미지 스프라이트 */
    background-image: url(../img/sp_search.png);
    background-position: -4px -4px;
    background-repeat: no-repeat;

    /* vertical-align은 같은 줄에 있는 요소들이 높이가 달라서 생기는 차이를 정렬해준다. */
    /* vertical-align은 display가 inline, inline-block이어야만 적용된다. */
    vertical-align: middle;

    /* text-indent: 100%; */
    /* overflow: hidden; */

    /* 기본적으로는 block으로 되어있기 때문에 하나의 요소가 margin으로 전체 너비를 다 차지해버린다. */
    /* 그래서 display를 inline-block으로 바꾸어 여러 요소가 한 줄에 위치하도록 지정한다. */
    display: inline-block;

    position: relative;
    top: -6px;
}

/* 꺾쇠 > 없이 쓰면 자손 태그 */
div#header-search h1 {
    
}

div#header-search h1 span { 
    display: none;
}

div#header-search h2 {
    /* display: none; */
    /* display: none은 스크린리더도 못 읽는다. */
}

/* 아래의 속성을 지정하면 스크린리더에서 읽히게끔 할 수 있다. */
.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

div#header-search fieldset {
    margin-left: 20px;

    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 0;

    width: 521px;
    height: 49px;
    display: inline-block;

    border-top: 2px solid #03cf5d;
    border-left: 2px solid #03cf5d;
    border-right: 2px solid #03cf5d;
    border-bottom: 2px solid #03cf5d; /* hex 표기법 */

    /* box-sizing을 content-box로 하면 content만 너비가 521px가 된다. */
    /* box-sizing: content-box; */

    /* 만약 border-box로 바꾸면 border(+padding)까지 합쳐서 521px가 된다. */
    box-sizing: border-box;

    vertical-align: middle;

    /* fieldset를 relative로 만들면 static 요소가 아니게 되기 때문에 */
    /* 컨테이닝 블록이 되어 하위 요소인 button의 position에 영향을 미친다. */
    /* relative는 본래 자신의 static 위치를 기준으로 함. */
    position: relative;
}

div#header-search fieldset input{
    /* input에 기본적으로 적용되어 있는 css 속성을 제거 */
    border: none;
    padding: 0;
    outline: none;
}

div#header-search fieldset button{
    width: 49px;
    height: 49px;
    border: none;
    padding: 0;
    
    background: #03cf5d;

    /* 자신의 컨테이닝 블록 위치를 기준으로 함 */
    position: absolute;
    right: -2px;
    top: -2px;
}

div#search-image {
    background-image: url(../img/sp_search.png);
    background-position: -3 -60px;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    display: inline-block;
    margin: 14px;
}