/* 선택자 (Selector) */

/* div는 많이 쓰이기 때문에 생략할 수도 있다. */
div#header-center {
    margin: 0 auto;
    width: 1080px;
}

/* > 을 사용하면 바로 밑에 있는 자식 태그 */
div#header-search > h1 {
    width: 280px;

    /* 기본적으로는 block으로 되어있기 때문에 하나의 요소가 margin으로 전체 너비를 다 차지해버린다. */
    /* 그래서 display를 inline-block으로 바꾸어 여러 요소가 한 줄에 위치하도록 지정한다. */
    display: inline-block;
}

/* 꺾쇠 > 없이 쓰면 자손 태그 */
div#header-search h1 {
    
}

div#header-search h2 {
    /* display: none; */
    /* display: none은 스크린리더도 못 읽는다. */
}

/* 아래의 속성을 지정하면 스크린리더에서 읽히게끔 할 수 있다. */
.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

div#header-search fieldset {
    width: 520px;
    display: inline-block;
}